---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
