---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<config.h>'
    Priority: -1
  - Regex: '"dtl-.*"'
    Priority: 2
  - Regex: '<.+>'
    Priority: 1
